:root{
    --mainColor: #1e213b;
    --secondaryColor: #33396e;

    --borderColor:#164D56;

    --mainText:#fff;
    --secondaryText: #eeeeee;
    
    --pfp-shadow: #3e40ab;

    --skills-background: #343647;
    --theme-dot-border: #eeeeee;
}